.user-info {
  display: flex;
  align-items: center;
}

.user-info img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-right: 20px;
}

.user-info div {
  max-width: 510px;
}

.repo-section {
  margin-top: 60px;
}

.repo-title {
  font-weight: 500;
  font-size: 26px;
  margin-bottom: 10px;
}

.repo-container {
  flex: 0 0 calc(50% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
  height: 100%; 
  box-shadow: 0 4px 8px rgba(1, 1, 0, 0.1); 
}

.repo-card {
box-shadow: 0 4px 8px rgba(41, 39, 39, 0.171);
  padding: 10px;
  border: 1px solid #979797; 
  border-radius: 4px;
  height: 12em;
}

.repo-topics {
  display: flex;
  flex-wrap: wrap;
}

.repo-topic {
  background-color: #3498db;
  color: #fff;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 4px;
}

@media (max-width: 576px) {
  .repo-container {
    flex: 0 0 calc(50% - 20px);
    margin-right: 20px;
  margin-bottom: 20px;
  }

  .repo-container:nth-child(odd) {
    margin-right: 0;
  }
}

/* Add styles for pagination container */
.pagination-container {
  margin-top: 20px;
}

.pagination-container button {
  margin-right: 5px;
}
