* {
  font-family: sans-serif;
}

.pagination {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}

.pagination-number {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  user-select: none;
}

.current-page {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
}

.repo-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  border: 1px solid #000000;
  border-radius: 4px;
  flex: 0 0 calc(50% - 20px);
}

.dark-theme .repo-card {
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  border: 1px solid #ffffff;
  border-radius: 4px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-right: 20px;
}

.user-info div {
  max-width: 510px;
}

.user-info-details {
  flex: 1;
}

.repo-section {
  margin-top: 24px;
}

.repo-title {
  font-weight: 500;
  font-size: 26px;
  margin-bottom: 10px;
}

#repo-list-container {
  margin-top: 33px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.repo-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
  flex: 0 0 calc(50% - 20px);
}

.dark-theme {
  color: white;
  background-color: black;
}

.repo-topics {
  display: flex;
  flex-wrap: wrap;
}

.dark-theme {
  --primary: #2c3e50;
  --text: #ecf0f1;
  --primaryT: #34495e;
  --textT: #bdc3c7;
  background-color: #1f2c38;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  color: var(--text);
  padding: 10px;
}

/* Toggle button styles */
#theme-toggle {
  background-color: var(--primaryT);
  color: var(--textT);
  padding: 8px 16px;
  border: 1 px solid black !important;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#theme-toggle:hover {
  background-color: var(--primary);
  color: var(--text);
}

/* Add styles for dark theme */
.dark-theme {
  color: white;
  background-color: black;
}

#pagination-container button {
  cursor: pointer;
}

.current-page {
  font-weight: bold;
}

.button-container {
  margin: 0 10px; /* Adjust the spacing between buttons and pagination numbers */
}

button {
  padding: 5px 10px;
  cursor: pointer;
}

/* Additional styling for disabled buttons */
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#user-githublink {
  margin-top: 20px;
}

.repo-topic {
  background-color: #3498db;
  color: #fff;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .user-info {
    flex-direction: column;
    align-items: flex-start;
  }

  .user-info img {
    margin-bottom: 15px;
    margin-left: 108px;
  }
}
